<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <title>뮤로나 방송 규칙</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rules.css}"/>
</head>
<body>
<main>
    <section class="background-image">
        <h2>사용자 규칙</h2>
        <ol>
            <li>성희롱 금지 (정중한 성희롱도 금지)</li>
            <li>욕설 및 비방 금지</li>
            <li>도배 금지</li>
            <li>스포 금지</li>
            <li>타스트리머나 시청자닉 언급 금지</li>
            <li>서로 싸우거나 친목 금지! 저랑 얘기해요</li>
            <li>방송 흐름 끊거나 분위기 망치는 말 금지</li>
            <li>사적인 연락 금지</li>
            <li>그 외는 알잘딱으로??? 알죠?!?ㅋㅋ</li>
        </ol>
    </section>
    <section>
        <h2>규칙 위반시 조치</h2>
        <p>
            안 지키면 경고! 그래도 안지키면 뮤로나는 시청자를 눈물을 머금고 밴할 수밖에 없는 상황에 놓입니다
        </p>
    </section>
</main>
</body>
</html>